services/order-flow/src/main/resources/schemas/order.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://demo/schemas"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://demo/definitions"
                  targetNamespace="http://demo/definitions">
  <wsdl:types>
    <xs:schema xmlns:hr="http://demo/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema"
               attributeFormDefault="unqualified" elementFormDefault="qualified"
               targetNamespace="http://demo/schemas">
      <xs:element name="orderRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="order" type="hr:Order"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="orderResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="order" type="hr:Order"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Order">
        <xs:sequence>
          <xs:element name="id" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="orderRequest">
    <wsdl:part element="sch:orderRequest" name="orderRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderResponse">
    <wsdl:part element="sch:orderResponse" name="orderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderPortType">
    <wsdl:operation name="order">
      <wsdl:input message="tns:orderRequest" name="orderRequest">
      </wsdl:input>
      <wsdl:output message="tns:orderResponse" name="orderResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderPortTypeSoap11" type="tns:OrderPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="order">
      <soap:operation soapAction=""/>
      <wsdl:input name="orderRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="orderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderPortTypeService">
    <wsdl:port binding="tns:OrderPortTypeSoap11" name="OrderPortTypeSoap11">
      <soap:address location="http://localhost:8080/orderService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>